<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIEkuecwBjlZEQrp7gddxFSjEMrrUGn5g</string>
	<key>GCM_SENDER_ID</key>
	<string>744417225087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>emma.whatschat</string>
	<key>PROJECT_ID</key>
	<string>whatschat-1e4da</string>
	<key>STORAGE_BUCKET</key>
	<string>whatschat-1e4da.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744417225087:ios:5df7470f3df8aa4e27524a</string>
</dict>
</plist>